<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/NSS-logo.png">
    <title>NSS DTU</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style-event.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/timelineStyle.css">
	

</head>
<body>

    <nav id="navbar">
        <div class="logo">
          <img src="/img/NSS-logo.png" alt="">
          <a href="/" class="nav-logo"><span class="menu">NSS DTU </span> </a>
        </div>
        <div class="nav" id="nav-menu">
          <i class="fas fa-times" id="close-menu"></i>
          <ul class="nav-list">
            <li class="nav-item"><a href="about" class="nav-link"><span class="menu">About</span></a></li>
            <li class="nav-item"><a href="/team" class="nav-link"><span class="menu">Team</span></a></li>
            <li class="nav-item"><a href="/events" class="nav-link"><span class="menu active">Events</span></a></li>
            <li class="nav-item"><a href="/initiatives" class="nav-link"><span class="menu"> Initiatives</span></a></li>
            <li class="nav-item"><a href="/recruitment" class="nav-link"><span class="menu">Recruitment</span></a></li>
            <li class="nav-item"><a href="https://nifty-kilby-048bf6.netlify.app/" class="nav-link"><span class="menu">Kartavya</span></a></li>
            <li class="nav-item"><a href="/contact" class="nav-link"><span class="menu">Contact Us</span></a></li>
          </ul>
        </div>
        <i class="fas fa-ellipsis-v" id="toggle-menu"></i>
            
      </nav>

    <header>
     <img src="/img/main-img/1.jpg" alt="">
        <!-- <div class="header-content" id="header">
            <h1 id="head1" data-aos="fade-up">Hello,</h1>
            <h1 id="head2" data-aos="fade-up"><span>NSS DTU</span>  Welcomes You :)</h1>
            <h3 id="head3"  data-aos="fade-up">"Not me, But you"</h3>
        </div> -->

    </header>
    <!-- <header>
        <img src="./main-img/1.jpg" alt="">
        <div class="header-content" id="header">
            <h1 id="head1" data-aos="fade-up">Hello,</h1>
            <h1 id="head2" data-aos="fade-up"><span>NSS DTU</span>  Welcomes You :)</h1>
            <h3 id="head3"  data-aos="fade-up">"Not me, But you"</h3>
        </div>
    </header> -->

    



    <!-- partial:index.partial.html -->
<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li style="list-style-type: none;"><a href="#0" data-date="11/09/2021" class="selected">11 Sep</a></li>
					<li style="list-style-type: none;"><a href="#0" data-date="24/09/2021">24 Sep</a></li>
					<li style="list-style-type: none;"><a href="#0" data-date="25/09/2021">25 Sep</a></li>
					<li style="list-style-type: none;"><a href="#0" data-date="12/11/2021">12 Nov</a></li>
					
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li style="list-style-type: none;"><a href="#0" class="prev inactive">Prev</a></li>
			<li style="list-style-type: none;"><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li style="list-style-type: none;" class="selected" data-date="11/09/2021">
				<h2> FIT INDIA Freedom Run 2.0</h2>
				<em>September 11, 2021</em>
				<p>	
					“Fit India Freedom Run 2.0,” an initiative led by the Ministry of Youth Affairs and Sports, was organized by NSS DTU, as a part of its nationwide celebration of India@75: Azadi ka Amrity Mahotsav. The event was organized on 11 September 2021 in the presence of Anamika Chauhan as the guest of honor. Instilling the fervor for nationhood, the run captivated huge participation from volunteers.
				</p>
				<br>
				<br>
				<div >
					<img style="margin: auto; padding: 18px;display: flex; justify-content: center; width: 70%;" src="/img/eventPosts/11sept.jpg" alt="">
				</div>
			</li>

			<li style="list-style-type: none;" data-date="24/09/2021">
				<h2></h2>
				<em>September 24, 2021</em>
				<p>	
					"Eco-Artwork," a poster-making competition, was organized from 24 September 2021 to 4 October 2021 in collaboration with Learnning Tree. The theme for the event was "Green Consumer." The event concluded with a closing ceremony organized on 10 October 2021. The competition was open to all and witnessed enormous participation from different schools and colleges. 
				</p>
				<br>
				<br>
				<!-- style="background-color: rgb(245 245 245);" -->
				<div >
					<img style="margin: auto; padding: 18px; display: flex; justify-content: center; width: 70%;" src="/img/eventPosts/25sept.jpg" alt="">
				</div>
			</li>

			<li style="list-style-type: none;" data-date="25/09/2021">
				<h2>E-waste Management Webinar</h2>
				<em>Sep 25, 2021</em>
				<p>	
					An insightful webinar on “E-waste management” was organized on 25 September 2021 in collaboration with e-Junki and Hulladek. The webinar witnessed the presence of Devansh Chopra and Aditya Rai as guest speakers. Intending to create awareness on the proper disposal of electrical and electronic waste, the session highlighted the ways to reduce e-waste.
				</p>
				<br>
				<br>
				<div >
					<img style="margin: auto;padding: 18px; display: flex; justify-content: center; width: 80%;" src="/img/eventPosts/26.jpg" alt="">
				</div>
			</li>

			<li style="list-style-type: none;" data-date="12/11/2021">
				<h2>Education Month Celebration</h2>
				<em>Nov 12, 2021</em>
				<p>	
					NSS DTU celebrated the month of November as Education month by successfully organizing the "Drawing Competition" and "Explain like I am 5" on 12 November 2021. The event witnessed the huge participation of around 50 underprivileged children whose presence made this event a great success. The event aimed to create awareness about animal welfare and other essential topics among children and guide them towards a successful future.
				</p>
				<br>
				<br>
	
			</li>

			

		

			
		</ol>
	</div> <!-- .events-content -->
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js'> -->
</script><script  src="/js/timeline.js"></script>





    
      <footer>
          <div class="footer-right">
            <a href="/contact"><button>Contact Us</button></a>
        </div>
          <div class="footer-mid">
              <div class="socials">
                  <a href="https://www.linkedin.com/company/national-service-scheme-dtu/" class="social"><i class="fab fa-linkedin fa-2x"></i></a>
                  <a href="https://www.instagram.com/nssdtu/" class="social"><i class="fab fa-instagram  fa-2x"></i></a>
                  <a href="https://www.facebook.com/NSSDelTech/" class="social"><i class="fab fa-facebook  fa-2x"></i></a>
                  <a href="https://twitter.com/NSSDTU" class="social"><i class="fab fa-twitter  fa-2x"></i></a>
                  <a href="https://www.youtube.com/channel/UCig231fNP39jVqghG4yJZKg" class="social"><i class="fab fa-youtube  fa-2x"></i></a>
              </div>
              <div class="copyright">
                  <h4>All rights reserved by <span>NSS DTU</span>  <br>  copyright &copy; 2021</h4>
              </div>
             
          </div>
  
          <div class="footer-right">
              <a href="/pdf/newsletter.pdf"><button class="btn-right">Read our Newsletter</button></a>
          </div>
      </footer>





    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/script-main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script>
        AOS.init({
            delay: 100,
            offset: 145
        });

        window.addEventListener("scroll",()=>{
            let header = document.getElementById("head3");
            // let about = document.getElementsByClassName("about")[0];
            var value = window.scrollY;
            console.log(value);
            header.style.marginBottom=value*1.01 + 'px';
        })
      </script>
      
</body>

</html>
