<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/NSS-logo.png">
    <title>NSS DTU</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/gallery-main.css">
    <link rel="stylesheet" href="/css/style-main.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c80561e6bf.js" crossorigin="anonymous"></script>
</head>
<body>

   <nav id="navbar">
        <div class="logo">
          <img src="/img/NSS-logo.png" alt="">
          <a href="/" class="nav-logo"><span class="menu active">NSS DTU </span> </a>
        </div>
        <div class="nav" id="nav-menu">
          <i class="fas fa-times" id="close-menu"></i>
          <ul class="nav-list">
            <li class="nav-item"><a href="about" class="nav-link"><span class="menu">About</span></a></li>
            <li class="nav-item"><a href="/team" class="nav-link"><span class="menu">Team</span></a></li>
            <li class="nav-item"><a href="/events" class="nav-link"><span class="menu">Events</span></a></li>
            <li class="nav-item"><a href="/initiatives" class="nav-link"><span class="menu"> Initiatives</span></a></li>
            <li class="nav-item"><a href="/recruitment" class="nav-link"><span class="menu">Recruitment</span></a></li>
            <li class="nav-item"><a href="https://nifty-kilby-048bf6.netlify.app/" class="nav-link"><span class="menu">Kartavya</span></a></li>
            <li class="nav-item"><a href="/contact" class="nav-link"><span class="menu">Contact Us</span></a></li>
          </ul>
        </div>
        <i class="fas fa-ellipsis-v" id="toggle-menu"></i>
            
      </nav>

    <header>
        <img src="img/main-img/DTU-shot-dark.jpg" alt="">
        <div class="header-content" id="header">
            <h1 id="head1" data-aos="fade-up">Hello,</h1>
            <h1 id="head2" data-aos="fade-up"><span>NSS DTU</span>  Welcomes You :)</h1>
            <h3 id="head3"  data-aos="fade-up">"Not me, But you"</h3>
        </div>

    </header>

    <section class="about" data-aos="fade-right">
        <div class="img">
            <img src="img/main-img/about.jpg" alt="">
        </div>
        <div class="about-content">
            <h1>Something About Us</h1>
            <p>
              NSS DTU is the largest student-led organization in the university
              working in the social sector and aims to bring about a change in
              society by organizing various events and campaigns pertaining to
              all aspects of social service. The volunteers commit themselves to
              the greater good and strive to achieve the best versions of
              themselves. Awareness regarding the surroundings, identifying
              social evils pertaining to a region, and formulating and
              implementing practical ways to tackle them constitute the role of
              an NSS Volunteer. Both long- and short-term programs in the
              fields of education, healthcare, road safety, etc., ensure the
              efficient functioning of NSS as a unit, encouraging teamwork and
              helping its volunteers grow immensely on a personal level as well.
            </p>
        </div>
    </section>

    <h1 data-aos="fade-up" class="gallery-title">Some Glimpses</h1>

    <div class="container gallery">
        <div class="main">
            <div data-aos-duration="100" data-aos="fade-down-right" class="content"><div id="1"  class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="img/gallery-img/DSC_0280.JPG" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <img src="img/gallery-img/2.JPG" alt="">
                </div>
              </div> 
            </div>
          </div>

          <div data-aos-duration="300" data-aos="fade-down" class="content"><div id="2" class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/img/gallery-img/3.JPG" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <img src="/img/gallery-img/4.JPG" alt="">
              </div>
            </div>
          </div>
        </div>

        <div data-aos-duration="500" data-aos="fade-down" class="content"><div id="3" class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/img/gallery-img/5.JPG" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <img src="/img/gallery-img/6.JPG" alt="">
            </div>
          </div>
        </div>
      </div>
            
            <div data-aos-duration="700" data-aos="fade-down-left" class="content"><div id="4" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/img/gallery-img/7.JPG" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                   <img src="/img/gallery-img/8.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div data-aos-duration="100" data-aos="fade-up-right" class="content"><div id="5" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/img/gallery-img/9.JPG" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <img src="/img/gallery-img/10.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div data-aos-duration="300" data-aos="fade-up" class="content"><div id="6" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/img/gallery-img/11.JPG" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                   <img src="/img/gallery-img/12.png" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div data-aos-duration="500" data-aos="fade-up" class="content"><div id="7" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/img/gallery-img/13.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <img src="/img/gallery-img/14.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div data-aos-duration="700" data-aos="fade-up-left" class="content"><div id="8" class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/img/gallery-img/15.JPG" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                   <img src="/img/gallery-img/16.JPG" alt="">
                  </div>
                </div>
              </div>
            </div>

        


        </div>  
    </div>

 

    <section class="events">
      <div class="event-header">
        <h2 class="event-subtitle">Our Events</h2>
      </div>
    
      <section class="cards">
        <div class="card-event1">
          <h1 class="card-title">Education Month Celebration</h1>
          <p class="card-paragraph">NSS DTU celebrated the month of November as Education month by successfully organizing the "Drawing Competition" and "Explain like I am 5" on 12 November 2021. The event witnessed the huge participation of around 50 underprivileged children whose presence made this event a great success. The event aimed to create awareness about animal welfare and other essential topics among children and guide them towards a successful future.</p>
        </div>
    
        <div class="card-event2">
          <h1 class="card-title">Eco-Artwork Poster Making Competition</h1>
          <p class="card-paragraph">"Eco-Artwork," a poster-making competition, was organized from 24 September 2021 to 4 October 2021 in collaboration with Learnning Tree. The theme for the event was "Green Consumer." The event concluded with a closing ceremony organized on 10 October 2021. The competition was open to all and witnessed enormous participation from different schools and colleges. </p>
        </div>
        
        <div class="card-event3">
          <h1 class="card-title">E-waste Management Webinar</h1>
          <p class="card-paragraph">An insightful webinar on “E-waste management” was organized on 25 September 2021 in collaboration with e-Junki and Hulladek. The webinar witnessed the presence of Devansh Chopra and Aditya Rai as guest speakers. Intending to create awareness on the proper disposal of electrical and electronic waste, the session highlighted the ways to reduce e-waste.</p>
        </div>
    
        <div class="card-event4">
          <h1 class="card-title">FIT INDIA Freedom Run 2.0</h1>
          <p class="card-paragraph">“Fit India Freedom Run 2.0,” an initiative led by the Ministry of Youth Affairs and Sports, was organized by NSS DTU, as a part of its nationwide celebration of India@75: Azadi ka Amrity Mahotsav. The event was organized on 11 September 2021 in the presence of Anamika Chauhan as the guest of honor. Instilling the fervor for nationhood, the run captivated huge participation from volunteers.</p>
        </div>
      </section>
    </section>

       <footer>
          <div class="footer-right">
            <a href="/contact"><button>Contact Us</button></a>
        </div>
          <div class="footer-mid">
              <div class="socials">
                  <a href="https://www.linkedin.com/company/national-service-scheme-dtu/" class="social"><i class="fab fa-linkedin fa-2x"></i></a>
                  <a href="https://www.instagram.com/nssdtu/" class="social"><i class="fab fa-instagram  fa-2x"></i></a>
                  <a href="https://www.facebook.com/NSSDelTech/" class="social"><i class="fab fa-facebook  fa-2x"></i></a>
                  <a href="https://twitter.com/NSSDTU" class="social"><i class="fab fa-twitter  fa-2x"></i></a>
                  <a href="https://www.youtube.com/channel/UCig231fNP39jVqghG4yJZKg" class="social"><i class="fab fa-youtube  fa-2x"></i></a>
              </div>
              <div class="copyright">
                  <h4>All rights reserved by <span>NSS DTU</span>  <br>  copyright &copy; 2021</h4>
              </div>
             
          </div>
  
          <div class="footer-right">
              <a href="/pdf/newsletter.pdf"><button class="btn-right">Read our Newsletter</button></a>
          </div>
      </footer>





    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/script-main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script>
        AOS.init({
            delay: 100,
            offset: 145
        });

        window.addEventListener("scroll",()=>{
            let header = document.getElementById("head3");
            let about = document.getElementsByClassName("about")[0];
            var value = window.scrollY;
            console.log(value);
            header.style.marginBottom=value*1.01 + 'px';
        })
      </script>
      
</body>

</html>
