<!DOCTYPE html>
<html>
  <head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/NSS-logo.png">
    <title>NSS DTU </title>
    <link rel="stylesheet" type="text/css" href="/css/teamStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/c285bab3cd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav id="navbar">
      <div class="logo">
        <img src="/img/NSS-logo.png" alt="">
        <a href="/" class="nav-logo"><span class="menu">NSS DTU </span> </a>
      </div>
      <div class="nav" id="nav-menu">
        <i class="fas fa-times" id="close-menu"></i>
        <ul class="nav-list">
          <li class="nav-item"><a href="/about" class="nav-link"><span class="menu">About</span></a></li>
          <li class="nav-item"><a href="/team" class="nav-link"><span class="menu active">Team</span></a></li>
          <li class="nav-item"><a href="/events" class="nav-link"><span class="menu">Events</span></a></li>
          <li class="nav-item"><a href="/initiatives" class="nav-link"><span class="menu"> Initiatives</span></a></li>
          <li class="nav-item"><a href="/recruitment" class="nav-link"><span class="menu">Recruitment</span></a></li>
          <li class="nav-item"><a href="https://nifty-kilby-048bf6.netlify.app/" class="nav-link"><span class="menu">Kartavya</span></a></li>
          <li class="nav-item"><a href="/contact" class="nav-link"><span class="menu">Contact Us</span></a></li>
        </ul>
      </div>
      <i class="fas fa-ellipsis-v" id="toggle-menu"></i>
          
    </nav>
    
    <header>

      <div class="header-content" id="header">
      <h1 id="head1" data-aos="fade-up"><span>Our Team</span></h1>
      </div>
    </header>

    <h1 style="font-size: 50px; text-align: center; padding-top: 50px; "> Advisors </h1>
	  <section class="faculty">
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/advisor/vc.jpg" alt="" />
              <h1>Sh. J.P. Saini</h1>
              <p>Hon'ble Vice chancellor</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/advisor/chairman.PNG" alt="" />
              <h1>Prof. Naokant Deo</h1>
              <p>Chairman</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/advisor/faculty.PNG" alt="" />
              <h1>Mrs. Anamika Chauhan</h1>
              <p>Faculty Coordinator</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/advisor/faculty1.png" alt="" />
              <h1> Mrs. Deepali Malhotra</h1>
              <p>Faculty Coordinator, DSM DTU</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/advisor/faculty2.jpeg" alt="" />
              <h1>Mr. Jagvinder Singh</h1>
              <p>Faculty Coordinator, USME DTU</p>
            </a>
          </div>
        </li>
      </ul>    
    </section>  

    <h1 style="font-size: 50px; text-align: center; padding-top: 50px; "> Student Council </h1>
    <section class="student-council">
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/anshul.jpg" alt="" />
            <h1>Anshul Gupta</h1>
            <p>Administration & Logistic</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/aamir.jpg" alt="" />
            <h1>Aamir Nasir</h1>
            <p>Administration & Logistic</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/Kanishk Yadav.jpeg" alt="" />
            <h1>Kanishk Yadav</h1>
            <p>Digital Design</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/satyam.PNG" alt="" />
            <h1>Satyam Gupta</h1>
            <p>Digital Design</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/Annu.jpeg" alt="" />
            <h1>Annu Pawar</h1>
            <p>Editorial </p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/ayushi.jpg" alt="" />
            <h1>Ayushi Bansal</h1>
            <p>Editorial </p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/Aman Singh.jpg" alt="" />
            <h1>Aman Singh</h1>
            <p>Public Relations & Corporate </p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/pulkit.jpg" alt="" />
            <h1>Pulkit Sharma</h1>
            <p>Web Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/ritwikb.PNG" alt="" />
            <h1>Ritwik Ranjan</h1>
            <p>Database & Awareness</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/Shivani.jpeg" alt="" />
            <h1>Shivani Jain</h1>
            <p>Database & Awareness</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/akashh.jpg" alt="" />
            <h1>Akash Gupta</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/anushreedi.jpg" alt="" />
            <h1>Anushree Mahur</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/palak.jpg" alt="" />
            <h1>Palak Yadav</h1>
            <p>Environment </p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/viren.jpg" alt="" />
            <h1>Viren</h1>
            <p>Environment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/himabindu" alt="" />
            <h1>G.S.S.N Himabindu</h1>
            <p>Gender Empowerment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/gunagya.jpg" alt="" />
            <h1>Gunagya Singh</h1>
            <p>Gender Empowerment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/mohit.PNG" alt="" />
            <h1>Mohit Kumar</h1>
            <p>Govt. Schemes</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/varun.jpg" alt="" />
            <h1>Varun Gupta</h1>
            <p>Govt. Schemes</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/josh.jpg" alt="" />
            <h1>Josh Vishnoi</h1>
            <p>Road Safety</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/dev.jpg" alt="" />
            <h1>Dev</h1>
            <p>Road Safety</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/khushboo.jpeg" alt="" />
            <h1>Khushboo</h1>
            <p>Health</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/shrey.jpeg" alt="" />
            <h1>Shrey Sharma</h1>
            <p>Health</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/council/bhuvesh.jpg" alt="" />
            <h1>Bhavesh Gautam</h1>
            <p>Rural Development</p>
          </a>
        </div>
      </li>
    </ul>
    </section>

    <h1 style="font-size: 50px; text-align: center; padding-top: 50px; "> Executives </h1>
    <section class="student-executives">
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Vaishnavi Jha (Admin and Logi).jpg" alt="" />
            <h1>Vaishnavi Jha</h1>
            <p>Administration & Logistics</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Piyush kashyap ( ADMIN and LOGISTIC ) .jpg" alt="" />
            <h1>Piyush Kashyap</h1>
            <p>Administration & Logistics</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Aryan Gautam(Admin & Logistics).jpg" alt="" />
            <h1>Aryan Gautam</h1>
            <p>Administration & Logistics</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Shaurya Shekhar (Editorial).jpg" alt="" />
            <h1>Shaurya Shekhar</h1>
            <p>Editorial</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Anirudh Saxena (Editorial).jpg" alt="" />
            <h1>Anirudh Saxena</h1>
            <p>Editorial</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Disha Malik (Corporate and PR).jpeg" alt="" />
            <h1>Disha Malik</h1>
            <p>Public Relations & Corporate</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/IMG-8822.JPG" alt="" />
            <h1>Anshika</h1>
            <p>Public Relations & Corporate</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/harshal.jpg" alt="" />
            <h1>Harshal Chowdhary</h1>
            <p>Web Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/WhatsApp Image 2021-12-11 at 22.13.01.jpeg" alt="" />
            <h1>Garvit Gulati</h1>
            <p>Web Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Aaditya Narayan Subedy (Database).jpeg" alt="" />
            <h1>Aaditya Narayan Subedy</h1>
            <p>Database</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Riya Aggarwal</h1>
            <p>Database</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/HARSH DEO (Design).jpg" alt="" />
            <h1>Harsh Deo</h1>
            <p>Digital Design</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Jatin kanwat.jpg" alt="" />
            <h1>Jatin kanwat</h1>
            <p>Digital Design</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Risheek Arora</h1>
            <p>Photography & Video Editing</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Raghav Gakhar (Photography and Video Editing).jpg" alt="" />
            <h1>Raghav Gakhar</h1>
            <p>Photography & Video Editing</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Ayush Ranjan</h1>
            <p>Awareness</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Mohd. Amaan</h1>
            <p>Awareness</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Ritik Gupta.jpg" alt="" />
            <h1>Ritik Gupta</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Saanya Yadav (Education Sector).jpeg" alt="" />
            <h1>Saanya Yadav</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Ankit Kemwal(Education).jpg" alt="" />
            <h1>Ankit Kemwal</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/nikhil Rai (Education).png" alt="" />
            <h1>Nikhil Rai</h1>
            <p>Education</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Sheel Bhadra(Govt. Schemes).jpg" alt="" />
            <h1>Sheel Bhadra</h1>
            <p>Govt. Schemes</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Aeshita Mathur (Environment).jpeg" alt="" />
            <h1>Aeshita Mathur</h1>
            <p>Environment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Divij.JPG" alt="" />
            <h1>Divij Lavania</h1>
            <p>Environment</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Varn Roy</h1>
            <p>Rural Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Abhik Kumar(Rural Camp).png" alt="" />
            <h1>Abhik Kumar</h1>
            <p>Rural Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Priti Gangwar (Rural Development).jpeg" alt="" />
            <h1>Priti Gangwar</h1>
            <p>Rural Development</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Simran Rauniyar(Health).HEIC" alt="" />
            <h1>Simran Rauniyar</h1>
            <p>Health</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Abhishek Singh(health).jpg" alt="" />
            <h1>Abhishek Singh</h1>
            <p>Health</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Abhishek Rathi(Health).jpg" alt="" />
            <h1>Abhishek Rathi</h1>
            <p>Health</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Mayank Mittal (Road Safety).jpg" alt="" />
            <h1>Mayank Mittal</h1>
            <p>Road Safety</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/Vaibhav Gangian (Road Safety Sector).jpg" alt="" />
            <h1>Vaibhav Gangian</h1>
            <p>Road Safety</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="/img/team/executives/" alt="" />
            <h1>Mehul Jain</h1>
            <p>Gender Empowerment</p>
          </a>
        </div>
      </li>
    </ul>
    </section>

    <h1 style="font-size: 50px; text-align: center; padding-top: 50px; "> DSM </h1>
	  <section class="DSM">
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Saumya Kamdar (President).JPG" alt="" />
              <h1>Saumya Kamdar</h1>
              <p>President</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Udit Gupta (President).jpg" alt="" />
              <h1>Udit Gupta</h1>
              <p>President</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Chahat Bansal (Project Manager) .jpg" alt="" />
              <h1>Chahat Bansal</h1>
              <p>Project Manager</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Riya Goel (Project Manager).jpg" alt="" />
              <h1>Riya Goel</h1>
              <p>Project Manager</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Siddharth Jain (Treasurer).PNG" alt="" />
              <h1>Siddharth Jain</h1>
              <p>Treasurer</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Alka (Social Media Manager).jpg" alt="" />
              <h1>Alka</h1>
              <p>Social Media Manager</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Prateek Lohariwala (Social Media Manager).jpeg" alt="" />
              <h1>Prateek Lohariwala</h1>
              <p>social Media Manager</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Tanvi Gulati (External affairs Manager).jpg" alt="" />
              <h1>Tanvi Gulati</h1>
              <p>External affairs Manager</p>
              
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Palak Hans ( External affairs manager ).jpg" alt="" />
              <h1>Palak Hans</h1>
              <p>External affairs manager</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/DSM DTU/Archana (Public Relations Manager).jpeg" alt="" />
              <h1>Archana</h1>
              <p>Public Relations</p>
            </a>
          </div>
        </li>
      </ul>    
    </section>

    <h1 style="font-size: 50px; text-align: center; padding-top: 50px; "> USME </h1>
	  <section class="student-usme">
      <ul id="hexGrid">
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/MuskanArora.jpeg" alt="" />
              <h1>Muskan Arora</h1>
              <p>Student Leader</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Kritvee mehta.jpg" alt="" />
              <h1>Kritvee mehta</h1>
              <p>Student Leader</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/IMG_20191119_090028_731.jpg" alt="" />
              <h1>Nishant Bagri</h1>
              <p>Student Leader</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Arushi Sharda (Operations).jpg" alt="" />
              <h1>Arushi Sharda</h1>
              <p>Operations head</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/" alt="" />
              <h1>Nishant Nath</h1>
              <p>Operations Head</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/IMG_20211217_183406.jpg" alt="" />
              <h1>Jatin Aggarwal</h1>
              <p>Operations Head</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Chirag Garg (Gender Empowerment).jpeg" alt="" />
              <h1>Chirag Garg</h1>
              <p>Gender Empowerment</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Divyika (Gender Empowerment).jpg" alt="" />
              <h1>Divyika</h1>
              <p>Education & Empowerment</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Kritka Chopra (Health & Environment).jpg" alt="" />
              <h1>Kritka Chopra</h1>
              <p>Health & Environment</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/DIVYANSH SHARMA ( HEALTH AND ENVIRONMENT).jpg" alt="" />
              <h1>DIVYANSH Sharma</h1>
              <p>Health & Environment</p>
            </a>
          </div>
        </li>
        <li class="hex">
          <div class="hexIn">
            <a class="hexLink" href="#">
              <img src="/img/team/USME DTU/Kanishka.PNG" alt="" />
              <h1>Kanishka</h1>
              <p>Content & Media</p>
            </a>
          </div>
        </li>
      </ul>    
    </section>
    
    <h1 style="font-size: 50px; text-align: center; padding-top: 50px;"> Our Volunteers</h1>
    <div class="wrap">
        <a href="/pdf/2K18.pdf" class="button">Volunteers 2018 </a>
        <a href="/pdf/2K17.pdf" class="button">Volunteers 2017</a>
        <a href="/pdf/2K16.pdf" class="button">Volunteers 2016</a>
        <a href="/pdf/2K15.pdf" class="button">Volunteers 2015</a>
    </div>

    <footer>
      <div class="footer-right">
        <a href="/contact"><button>Contact Us</button></a>
      </div>
      <div class="footer-mid">
          <div class="socials">
              <a href="https://www.linkedin.com/company/national-service-scheme-dtu/" class="social"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://www.instagram.com/nssdtu/" class="social"><i class="fab fa-instagram  fa-2x"></i></a>
              <a href="https://www.facebook.com/NSSDelTech/" class="social"><i class="fab fa-facebook  fa-2x"></i></a>
              <a href="https://twitter.com/NSSDTU" class="social"><i class="fab fa-twitter  fa-2x"></i></a>
              <a href="https://www.youtube.com/channel/UCig231fNP39jVqghG4yJZKg" class="social"><i class="fab fa-youtube  fa-2x"></i></a>
          </div>
          <div class="copyright">
              <h4>All rights reserved by <span>NSS DTU</span>  <br>  copyright &copy; 2021</h4>
          </div>
         
      </div>

      <div class="footer-right">
          <a href="/pdf/newsletter.pdf"><button class="btn-right">Read our Newsletter</button></a>
      </div>
    </footer>

    <script src="/js/script-main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  
  </body>
</html>
